<div id = "tiemporeal">
    <div class = "container">
    <p id="notice"><%= notice %></p>
     <!-- <div class = "row"> -->
        <div class = "text-center">
        	<div>
        		<br>
        		<br>
        	</div>
        	<h2>  </h2>
          <h3>Actualizaciones en Tiempo Real</h3>
            <p> Visualiza las actualizaciones minuto a minuto.</p>
        </div>
     <!--</div> -->
    </div>

<div id = "tiemporeal">
	<div class = "container">
		<h1>@quinielaw</h1>
		<br><br>
			<meta http-equiv="refresh" content="25" >
	
	<div class = "card">
			<ul class = "list-group list-group-flush">
			    <% TwitterApi.tweetsStream.each do |tweet| %>
			        <li class="list-group-item">
			  <!--  <b> <%= (tweet.created_at-4.hour).strftime("%H:%M")%> </b> <br> --> 
			 <%= tweet.text %></li>
			    <br>
			    <% end %>
			</ul>
	</div>
	</div>
</div>