<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %></p>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", url: "http://localhost:3000/users/sign_up")%></p>

<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
