<h1 class="mine" style="color:#000000 ">  Editar Videos </h1>

	<a style="color:#000000 ">	<%= render 'form', media_video: @media_video %> </a>

<%= link_to 'Mostrar', @media_video %> |
<%= link_to 'Regresar', media_videos_path %>
